{% extends 'dashboard/index.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block content %}
  <div class="card">
        <div class="card-header">
                   Gestion patients
        </div>
        <div class="card-body">    
               <h1>Ajouter Patient</h1>

                {{ include('patient/_form.html.twig') }}

                <a href="{{ path('patient_index') }}">back to list</a>
        </div>
    </div>
    
{% endblock %}
