{% extends 'dashboard/index.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block content %}
<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Gestion des patients</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">

								      <h1>Ajouter Patient</h1>

                {{ include('patient/_form.html.twig') }}

                <a href="{{ path('patient_index') }}">liste des patients</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>


{% endblock %}
