{% extends 'dashboard/index.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <h1>Ajouter Medecin</h1>

    {{ include('medecin/_form.html.twig') }}

    <a href="{{ path('medecin_index') }}">back to list</a>
{% endblock %}
