{% extends 'dashboard/index.html.twig' %}

{% block title %}New RendezVous{% endblock %}

{% block content %}
<div class="card">
        <div class="card-header">
                   Gestion RendezVous
        </div>
        <div class="card-body">    
                   <h1 class="bg-dark text-center text-white">Création d'un RendezVous</h1>

                    {{ include('rendez_vous/_form.html.twig') }}

                 <a href="{{ path('rendez_vous_index') }}">back to list</a>
        </div>
    </div>

{% endblock %}
